.links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: aliceblue;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

.links-container {
  text-align: center;
}

.links-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.links-container li {
  display: inline-block;
  margin: 0 10px;
}

.links-container li a {
  color: #1a98d5;
  text-decoration: none;
  border-bottom: 2px solid #1a98d5;
  padding-bottom: 2px;
  transition: border-bottom 0.3s ease-in-out;
}

.links-container li a:hover {
  border-bottom: 2px solid transparent;
}

.floating-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #05bf05;
  color: white;
  padding: 0px;
  border: 1px solid #ffff;
  border-radius: 5px;
  width: 100px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .links-container li {
    margin-bottom: 10px;
  }
}
